<div class="section no-padding">
    <div :class="m['background']" :style="backgroundColor">
        
    </div>
    <div :class="m['report-container']">
        <header style="position: absolute">
            <img :src="logoURL" :class="m['logo']" style="float: right" />
        </header>
        <section :class="[m['full-width'], m['report-list']]">
            <ul>
                <!--<li :class="[m['ChartLi']]">
                    <canvas :id="chartId"></canvas>
                </li>-->
                <!--<li>{{note}}</li>-->
                <li>
                    <template v-for="(item, index) in subject">
                        <list-item-2 :title="item.title"  :index="item.score" :content="rate[item.score]"/>
                        <p>{{item.review}}</p>
                        <p v-for="advice in item.advices">{{advice}}</p>
                        <br />
                    </template>
                </li>
            </ul>
        </section>
        <footer @click.stop="onTouchFooter" v-if="shouldShowFooter" :class="[m['custom']]">
            <img :src="arrowIconURL" :class="m['down-arrow']" class="animated infinite bounce"/>
        </footer>
    </div>
</div>