<div class="section no-padding">
    <div :class="m['background']" :style="backgroundColor">
        
    </div>
    <div :class="m['info-container']">
        <header style="position: absolute">
            <img :src="logoURL" :class="m['logo']" style="float: right" />
        </header>
        <section :class="[m['full-width'], m['info-list']]">
            <ul>
                <li>姓名: {{name}}</li>
                <li>性别: {{gender}}</li>
                <li :class="[m['ChartLi']]">
                    <canvas id="overviewChart"  @click="onChartClick"></canvas>
                </li>
                  <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <evaluate-standard-table />
                </div>
            </ul>
        </section>

        <footer @click.stop="onTouchFooter" v-if="shouldShowFooter" :class="[m['custom']]">
            <img :src="arrowIconURL" :class="m['down-arrow']" class="animated infinite bounce"/>
        </footer>
    </div>
</div>