:root {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #546e7a
}

ul {
    max-width: 80vw;
    flex: 1;
}

li {
    border-radius: 5px;
    background-color: #f1f8e9;
    list-style-type: none;
    padding: 2vh;
    margin-bottom: 3vh;
}

header {
    width: 100%;
    padding-top: 2vh;
    padding-right: 5vw;
}

footer.custom {
    padding: 1vh;
    display: flex;
    justify-content: center;
    width: 100%
}

.background {
    position: fixed;
    background: #dce775;
    width: 100vw;
    height: 300vh;
    z-index: -1;
    display: block;
    /*filter: blur(8px)*/
}

.info-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    z-index: 1;
}

.full-width {
    width: 100%
}

.no-padding {
    padding: 0
}

.info-list {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.down-arrow {
    height: 10vh
}

.logo {
    height: 5vh
}

canvas {
    max-width: 300px
}

.ChartLi {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-div {
    text-align: center;
    font-size: 24px;
    color: #43a047;
    position: absolute;
    width: 50vw;
}

#score-div p {
    margin-bottom: 0
}

#score-div h3 {
    margin-top: 0.3rem
}

#score-circle {
    width: 50vw;
    height: 50vw;
}

.percent-div {
    display: flex;
}

.percent-div > div {
    display: flex;
    justify-content: space-around;
    flex: 1;
    text-align: center
}

.percent-div > div > div.percent-sub-div {
    flex: 0.5;
}