@import "../info-page/info-page.css";

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center
}

.input-form ul {
    width: 80%;
}

.name-input-group {
    flex: 1;
    display: flex;
    align-items: center
}

.name-input-group .input-field {
    flex: 1
}

.name-input-group .add-child-button {
    margin-left: 2vw;
    font-size: 0.8em;
    padding-left: 2vw;
    padding-right: 2vw;
}

.input-form .submit-button {
    width: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 14vh;
}

.submit-button i {
    font-size: 1.2em;
}

header {
    width: 100%;
    padding-top: 2vh;
    padding-right: 5vw;
}

.full-width {
    width: 100%
}

.logo {
    height: 5vh
}

@import '../info-page/material-color.css'