<div id="fullpage">
    <info-page @footerTouched="nextSection" :childId="$route.params.id"></info-page>
    <report-page @footerTouched="nextSection" :childId="$route.params.id" chartId="report1" subject="PhysicalFunction"></report-page>
    <report-page @footerTouched="nextSection" :childId="$route.params.id" chartId="report2" subject="GM"></report-page>
    <report-page @footerTouched="nextSection" :childId="$route.params.id" chartId="report3" subject="SportsCognition"></report-page>
    <report-page @footerTouched="nextSection" :childId="$route.params.id" chartId="report4" subject="FM"></report-page>
    <summary-page @footerTouched="nextSection" :childId="$route.params.id"></summary-page>
    <logo-page @footerTouched="nextSection" :childId="$route.params.id" :shouldShowFooter=false></logo-page>
</div>