<div id="fullpage">
    <info-page @footerTouched="nextSection" :backgroundColor="{background: 'linear-gradient(#b2ff59, #ef6c00)'}"></info-page>
    <report-page @footerTouched="nextSection" :backgroundColor="{background: 'linear-gradient(#ef6c00, #ffee58)'}" dataSource="身体机能"></report-page>
    <report-page @footerTouched="nextSection" :backgroundColor="{background: 'linear-gradient(#ef6c00, #ffee58)'}" dataSource="粗大"></report-page>
    <summary-page @footerTouched="nextSection" :backgroundColor="{background: 'linear-gradient(#ef6c00, #ffee58)'}"></summary-page>
    <!--<info-page @footerTouched="nextSection" :backgroundColor="{background: 'linear-gradient(#ffee58, #bcaaa4)'}" :shouldShowFooter=false></info-page>-->
    <logo-page @footerTouched="nextSection" :backgroundColor="{background: 'linear-gradient(#ef6c00, #ffee58)'}" :shouldShowFooter=false></logo-page>
</div>