<div class="section no-padding">
    <div :class="m['background']" :style="backgroundColor">
        
    </div>
    <div :class="m['info-container']">
        <header style="position: absolute">
            <img :src="logoURL" :class="m['logo']" style="float: right" />
        </header>
        <section :class="[m['full-width'], m['info-list']]">
            <ul>
                <li><img :src="QRCodeURL" /></li>
                <li>扫描二维码关注我们</li>
            </ul>
        </section>

        <footer @click.stop="onTouchFooter" v-if="shouldShowFooter" :class="[m['custom']]">
            <img :src="arrowIconURL" :class="m['down-arrow']" class="animated infinite bounce"/>
        </footer>
    </div>
</div>